/hello
/archive
/dist
/*/*
!/*/debian
/*/debian/files
/*/debian/*/*
!/*/debian/source
*.dsc
*.build
*.changes
*.upload
*.debhelper
*.debhelper.log
*.substvars

*.swp
*.swo
*.tar.gz
*.tar.xz
*.tgz
*.gem
*.ttf
*.dfont
*.ttc
*.deb
*.zip
