*.swp
*.swo

*.tar.gz
*.tar.xz
*.tgz
*.gem
*.ttf
*.dfont
*.ttc
*.deb
*.zip

*.dsc
*.build
*.changes
*.upload
*.debhelper
*.debhelper.log
*.substvars

/*/*/*
!/*/*/debian
/*/*/debian/files
/*/*/debian/*/*
