Source: gututils
Section: net
Priority: optional
Maintainer: Guten Ye <guten@example.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://github.com/gutenye/gututils

Package: gututils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The simplest rsync wrapper for backup Linux system.
  The most easy way to backup your system.
