Source: xware
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Guten Ye
Standards-Version: 1.0.31
Homepage: http://g.xunlei.com/forum-51-1.html
Vcs-Git: git://github.com/GutenYe/debs.git


Package: xware
Architecture: armhf amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thunder downloader daemon
