#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	install -d debian/xware/opt/xware/cfg
	install -Dm755 $(DEB_HOST_ARCH)/ETMDaemon debian/xware/opt/xware/lib/ETMDaemon
	install -Dm755 $(DEB_HOST_ARCH)/EmbedThunderManager debian/xware/opt/xware/lib/EmbedThunderManager
	install -Dm755 $(DEB_HOST_ARCH)/vod_httpserver debian/xware/opt/xware/lib/vod_httpserver
	install -Dm755 $(DEB_HOST_ARCH)/portal debian/xware/opt/xware/portal
	install -Dm755 debian/xware.init debian/xware/etc/init.d/xware

override_dh_strip:

override_dh_shlibdeps:

override_dh_fixperms:
	dh_fixperms
	chmod 777 debian/xware/opt/xware
	chmod 777 debian/xware/opt/xware/cfg

get-orig-source:
	debian/get-orig-source
